.main_detail i{
    color: white;
    margin-left: -50%;
}

.detail_back{
    margin-left: -250px;
}

.detail_card{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    

    & img{
        width: 40%;
        height: 40%;
    }

    & h3{
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 18px;
        }

    }

    & ul {
        list-style: none;
        text-align: right;
        
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.card{
    width: 60%;
    height: 60%;
    color: rgb(207, 206, 206);
}

.card_info{
    display: flex;
    gap: 10px;
    padding: 8px;
}

.ravenclaw{
    background: linear-gradient(to right, #0D1E4A, #213264, #5d5d5d, #946a2d);
}

.hufflepuff{
    background: linear-gradient(to right, #000000, #ECB939, #F0C75E, #726255, #000000);
}

.slytherin{
    background: linear-gradient(to right, #000000, #1A472A, #2A623D, #5D5D5D, #000000);
}

.gryffindor{
    background: linear-gradient(to right, #000000,#740001, #AE0001, #D3A625, #000000);
}